.material-sticky {
  display: none;
}

@media (min-width: 1024px) {
  .material-sticky {
    display: block;
    position: sticky;
    top: 80px;
    height: fit-content;
    border-radius: 16px;
    background: var(--Whiteness, #fbfcfe);
    box-shadow: 4px 4px 4px 0 rgba(13, 45, 89, 0.2);
    width: 416px;
  }
}

.material-sticky .title {
  padding: 16px;
  border-bottom: 1px solid #d4e5f7;
}

.material-sticky .categories {
  gap: 12px;
}

.material-sticky .p--p2 span {
  font-weight: 400;
  color: #0a2243;
}

.material-sticky-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.material-sticky-content .register-btn.register-material {
  align-self: flex-end;
}

.material-sticky p {
  margin-bottom: 0;
}
