.material-page-header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  background: var(--hover-bg, #e9f2fb);
  margin-bottom: 40px;
  padding: 24px;
}
@media (min-width: 569px) {
  .material-page-header {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.material-page-header .left-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.material-page-header .cas .p--emphasis {
  margin-bottom: -12px;
}

.material-page-header .h1-style {
  color: var(--Dark, #0a2243);
}

.material-page-header .p--p1 {
  margin-top: -8px;
}

.material-image {
  border-radius: 16px;
  width: 100%;
}

@media (min-width: 1024px) {
  .material-page-header {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .material-image {
    max-width: 416px;
  }
}
