.about-pe-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.con-up {
  padding-bottom: 60px;
}
.about-pe-container h2 {
  color: var(--Button-primary-bg, #144487);
  margin-bottom: 16px;
  width: 55%;
}

.h2-medicos {
  background: var(
    --linear,
    linear-gradient(90deg, #144487 -0.01%, #4d8ce5 100.01%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-pe-container p {
  width: 65%;
  color: var(--main-text, #0a2243);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%;
}

.about-pe-container .team-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.about-pe-container .team-con .team {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 16px;
  background: #fff;
  box-shadow: 4px 4px 25px 0px rgba(13, 45, 89, 0.2);
  transition: all 0.2s ease-out;
}

.about-pe-container .team-con .team .text-up h4 {
  color: var(--Button-primary-bg, #144487);
  width: 100%;
}

.about-pe-container .team-con .team .text-up p {
  color: var(--mid-blue, #4d8ce5);
  font-size: 14px;
  width: 100%;
}

.about-pe-container .team-con .team .text-up .p-500 {
  font-weight: 500;
}

.about-pe-container .team-con .team .p-down {
  color: var(--main-text, #0a2243);
  font-size: 16px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .about-pe-container h2,
  .about-pe-container p {
    width: 100%;
  }
  .about-pe-container .team-con {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .about-pe-container {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
