.about-p-container {
  text-align: left;
  padding: 60px 24px;
  background: #f1f1f1;
  background: url(../../../images/about//policy/about-policy-background.webp)
    no-repeat fixed 50% 0;
  overflow: hidden;
  background-size: cover !important;
  background-position: center;
}

.about-p-container {
  background-attachment: scroll !important;
}

.about-p-container h2 {
  color: var(--color-basics-white, #fff);
  margin-bottom: 8px;
}

.about-p-container p {
  color: var(--color-basics-white, #fff);
  margin-bottom: 32px;
  max-width: 50%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.about-p-container .about-p-button {
  padding: 12px 24px;
  border: 1px solid var(--Button-secondary-border, #d3e2f8);
}

@media screen and (max-width: 568px) {
  .about-p-container {
    background: url(../../../images/about//policy/about-policy-background_mobile.webp)
      no-repeat fixed 50% 0;
    padding-bottom: 300px;
  }
  .about-p-container p {
    max-width: 100%;
  }
  .about-p-container .about-p-button {
    display: flex;
    width: 100%;
  }
}
