.qs-description-container {
  background: var(--hover-bg, #e9f2fb);
  position: relative;
}

.qs-description-container .container .description-left-container {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  max-width: 50%;
}

.qs-description-container .container .description-left-container p {
  color: var(--main-text, #0a2243);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 170%;
}

.qs-description-container
  .container
  .description-left-container
  .description-2 {
  font-weight: 700;
}

.qs-description-container .container .image-container {
  overflow: hidden;
  display: inline-flex;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 700px;
  box-sizing: border-box;
}

@media screen and (max-width: 1400px) {
  .qs-description-container .container .description-left-container {
    padding: 60px 0px;
  }

  .qs-description-container .container .image-container {
    max-width: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .qs-description-container .container .description-left-container {
    max-width: 100%;
    padding-bottom: 500px;
  }
}

@media screen and (max-width: 500px) {
  .qs-description-container .container .description-left-container {
    padding-bottom: 300px;
  }
}
